@media screen and (max-width: 900px){
    /* .flexParent{
        flex-direction: column;
    } */
    .childFlex{
        width:60%;
        margin-bottom:15%;
    }
    .slideFoto{
        height:50vh;
    }
    .fotoJob{
        width:60%;
        height:200px;
    }
}
@media screen and (min-width:900px) and (max-width: 1200px){
    .childFlex{
        width:30%;
    }
}   

@media screen and (max-width: 650px){
    .slideFoto{
        height:35vh;
    }
    .fotoJob{
        width:100%;
        height:25vh;
    }
}